{{ define "footer" }}

<footer class="py-5">
    <div class="footer-top">
        <div class="container footer-social">
            <p class="footer-text">© 2020 Google Inc (<a
                    href="https://github.com/GoogleCloudPlatform/microservices-demo">Source Code</a>) — </p>
            <p class="footer-text"> Это демо-сайт. Только для ознокомительных целей </p>
        </div>

    </div>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
    </script>
</body>

</html>
{{ end }}
